/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../font/roboto-v30-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../font/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/roboto-v30-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/roboto-v30-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../font/roboto-v30-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/roboto-v30-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../font/raleway-v28-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../font/raleway-v28-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/raleway-v28-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/raleway-v28-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../font/raleway-v28-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/raleway-v28-latin-regular.svg#Raleway') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'blacklistedregular';
    src: url('../font/blacklisted-webfont.woff2') format('woff2'),
        url('../font/blacklisted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root {
    /* buttons color */
    --button-color: #17a2b8;
    --button-hover-color: #117a8b;
    /* Fonts */
    --font-family: "Roboto";
    --title-font-family: "Raleway";
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-family: var(--font-family);
}

h2,
h3,
h4,
h5 {
    font-family: var(--title-font-family);
}

.entering-form {
    animation: formEntrance 1.6s ease 0s 1 normal forwards;
    -webkit-animation: formEntrance 1.6s ease 0s 1 normal forwards;
}

@keyframes formEntrance {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*===================================== ACCUEIL =====================================*/



#title {
    position: relative;
    top: 50%;
    text-align: center;
    font-family: "blacklistedregular";
    font-size: 4rem;
    color: white;
    text-shadow: -1px -1px 0 #000000b4, 1px -1px 0 #000000b4, -1px 1px 0 #000000b4, 1px 1px 0 #000000b4;
}

/* Overall header animations */

nav {
    animation: navEntrance 0.8s ease 0s 1 normal forwards;
    background-color: white;
    -webkit-animation: navEntrance 0.8s ease 0s 1 normal forwards;
}

@keyframes navEntrance {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navBack {
    transition: .3s;
    animation: navEntrance 0s ease 0s 1 normal forwards;
    -webkit-animation: navEntrance 0s ease 0s 1 normal forwards;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#navLogo {
    background-image: url("../../public/images/gamescenternav2.png");
    background-position: center;
    width: 50px;
    height: 35px;
}

.navbar.scrolled {
    background-color: #ffffffcc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    scale: 0.95;
    transition: all .3s ease-in-out;


}

.navbar.scrolled:hover {
    background-color: #ffffff;
}

.navlogoscrolled {
    transition: 0.4s;
    display: none;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}


/* Nav buttons */


nav li {
    text-align: center;
}








/* Main */



/* First banner & button */
#banner {
    background-image: url("../../public/images/jeuxfondbanner.jpg");
    background-size: cover;
    background-position: center;
    height: 1000px;
}


/* Games section */


#games {
    background-image: url("../../public/images/fond.jpg");
    background-size: cover;
    background-position: center;

}

#TOP {
    /* Title of game section */
    padding-top: 20px;
    text-align: center;
    font-family: var(--font-family);
}

:root {
    --purple: hsl(240, 80%, 89%);
    --pink: hsl(0, 59%, 94%);
    --light-bg: hsl(204, 37%, 92%);
    --light-gray-bg: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 7%);
    --text-gray: hsl(0, 0%, 30%);
}



h3 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-size: 1em;
    line-height: 1.7;
    font-weight: 300;
    color: var(--text-gray);
}

.description {
    white-space: wrap;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 24px;
    background: #fff;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    scale: 0.8;
}

.box:hover {
    scale: 1;
    z-index: 4;
}

.box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
}

.box-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 50% 20%;
}

.title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-title {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
}

.user-follow-info {
    color: hsl(0, 0%, 60%);
}

.button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    color: #000;
    background: transparent;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: background 0.4s ease;
}

.button:hover {
    background: var(--purple);
}

.fill-one {
    background: var(--light-bg);
}

.fill-two {
    background: var(--pink);
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 460px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 640px) {
    .box {
        flex-basis: calc(50% - 12px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 840px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1024px) {
    .box {
        flex-basis: calc(33.3% - 16px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1100px) {
    .box {
        flex-basis: calc(25% - 18px);
    }
}


/* Game secction media queries */
@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }

    .cards_image {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }

    .cards_image {
        width: 33.3333%;
    }
}

/* About section */

#aboutUs {
    background-color: #343A40;
    padding-bottom: 15px;
    padding-top: 15px;
}

/* Star user section */

.star {
    font-family: var(--font-family);
    text-align: center;
    font-weight: bold;
}

.starUsers {
    padding-top: 15px;
}



/*===================================== LOGIN =====================================*/
/* LOGIN FORM CONTAINER */
.containerform {
    background-color: rgb(255, 255, 255);
    width: 350px;
    margin: 0 auto;
    margin-top: 6%;
    border: 2px solid #cccccc6c;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #cccccc6c;
    padding: 20px;
    transition: 0.7s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 2%;
    text-align: center;
}

.containerform:hover {
    border-color: #17a3b86c;
}

/* LOGIN TITLE AND LOGO */
.imgContainer {
    width: 100%;
    height: 200px;
    background-image: url("../images/gamescenter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-form h2 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.login-upper-text {
    color: black;
    text-align: center;
    padding-top: 30px;
}


#formdiv {
    margin-bottom: 20px;
    margin-top: 15px;
}

/* LOGIN INPUTS AND LABELS STYLE */
#inputUid:focus {
    border-color: #17a2b8;
    box-shadow: none;
}

#inputUid {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#inputUid::-webkit-input-placeholder {
    color: #a5a5a5;
}

#inputPwd:focus {
    border-color: #17a2b8;
    box-shadow: none;
}

#inputPwd {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#inputPwd::-webkit-input-placeholder {
    color: #a5a5a5;
}

#forgotPwd {
    font-size: 0.8rem;
    color: black;
    font-weight: lighter;

}

/* LOGIN BUTTON */
#loginSubmit {
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-radius: 20px;
    width: 100%;
    transition: 0.6s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#loginSubmit:hover {
    background-color: var(--button-hover-color);
}

#loginSubmit:disabled {

    cursor: not-allowed;

}

#loginSubmit:disabled:hover {

    background-color: var(--button-color);

}

/* BACK BUTTON */
#login-back {
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
}

#login-back a {
    text-decoration: none;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--button-color);
}

#login-back a:hover {
    color: var(--button-hover-color);
}

#sub-back {
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
}

#sub-back a {
    word-wrap: break-word;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--button-color);
}

#sub-back a:hover {
    color: var(--button-hover-color);
}

.inscription-back a {
    display: block;
}

/* ============================ SIGNUP ========================== */


.signup-form {
    margin-top: 30px;
    text-align: center;
}

#formdiv-signup {
    margin-bottom: 20px;

}

.SignupLabel {
    margin-top: 10px;
}

/* User ID */
#SignupInputUid:focus {
    border-color: #17a2b8;
    box-shadow: none;
}


#SignupInputUid {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#SignupInputUid::-webkit-input-placeholder {
    color: #a5a5a5;
}

.blockresponse {
    background-color: #ffe6e6;
    /* couleur de fond */
    border: 1px solid #ff6666;
    /* bordure rouge */
    color: #ff6666;
    /* couleur du texte */
    padding: 5px;
    /* espace intérieur de la boîte */
    margin-top: 5px;
    /* marge supérieure pour espacer la boîte de l'input */
    font-size: 0.8rem;
    /* taille de la police */
}




/* Email */

#SignupInputEmail:focus {
    border-color: #17a2b8;
    box-shadow: none;
}


#SignupInputEmail {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#SignupInputEmail::-webkit-input-placeholder {
    color: #a5a5a5;
}


/* Password */

#SignupInputPwds {
    border-color: #17a2b8;
    box-shadow: none;
}



#SignupInputPwd {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#SignupInputPwd:focus {
    border-color: #17a2b8;
    box-shadow: none;
}

#SignupInputPwd::-webkit-input-placeholder {
    color: #a5a5a5;
}

/* Submit button */

#SignupSubmit {
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-radius: 20px;
    width: 100%;
    transition: 0.6s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#SignupSubmit:hover {
    background-color: var(--button-hover-color);
}

#SignupSubmit:disabled {

    cursor: not-allowed;

}

#SignupSubmit:disabled:hover {

    background-color: var(--button-color);

}

#RGPDLABEL {
    font-size: 1rem;
    padding-bottom: 15px;
    padding-top: 15px;
}

/* BACK BUTTON */
#Signup-back {
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
}

#Signup-back a {
    text-decoration: none;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--button-color);
}

#Signup-back a:hover {
    color: var(--button-hover-color);
}

#con-back {
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
}

#con-back a {
    word-wrap: break-word;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--button-color);
}

#con-back a:hover {
    color: var(--button-hover-color);
}

.inscription-back a {
    display: block;
}

/* ============================ MON COMPTE =============================== */


.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}


#profile-modify {
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-radius: 20px;
    width: 100%;
    transition: 0.6s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#profile-modify:hover {
    background-color: var(--button-hover-color);
}