/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../font/roboto-v30-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../font/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/roboto-v30-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/roboto-v30-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../font/roboto-v30-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/roboto-v30-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../font/raleway-v28-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../font/raleway-v28-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/raleway-v28-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/raleway-v28-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../font/raleway-v28-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/raleway-v28-latin-regular.svg#Raleway') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'blacklistedregular';
    src: url('../font/blacklisted-webfont.woff2') format('woff2'),
        url('../font/blacklisted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root {
    /* buttons color */
    --button-color: #17a2b8;
    --button-hover-color: #117a8b;
    /* Fonts */
    --font-family: "Roboto";
    --title-font-family: "Raleway";
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-family: var(--font-family);
}

h2,
h3,
h4,
h5 {
    font-family: var(--title-font-family);
}

.entering-form {
    animation: formEntrance 1.6s ease 0s 1 normal forwards;
    -webkit-animation: formEntrance 1.6s ease 0s 1 normal forwards;
}

@keyframes formEntrance {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*===================================== ACCUEIL =====================================*/



#title {
    position: relative;
    top: 50%;
    text-align: center;
    font-family: "blacklistedregular";
    font-size: 4rem;
    color: white;
    text-shadow: -1px -1px 0 #000000b4, 1px -1px 0 #000000b4, -1px 1px 0 #000000b4, 1px 1px 0 #000000b4;
}

/* Overall header animations */

nav {
    color: black;
    animation: navEntrance 0.8s ease 0s 1 normal forwards;
    background-color: rgb(255, 255, 255);
    -webkit-animation: navEntrance 0.8s ease 0s 1 normal forwards;
    padding: 15px;
}

#nav-title {
    font-family: var(--title-font-family);
    font-size: 1.5rem;
}

.link {
    font-size: 2rem;
    padding: 5px;
    text-align: center;
}


@keyframes navEntrance {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navBack {
    transition: .3s;
    animation: navEntrance 0s ease 0s 1 normal forwards;
    -webkit-animation: navEntrance 0s ease 0s 1 normal forwards;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}


.navbar.scrolled {
    color: rgb(255, 255, 255);
    background-color: #000000cc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    scale: 0.8;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

@media (max-width: 992px) {
    .navbar.scrolled {
        color: black;
        background-color: white;
    }
}

.navbar.scrolled:hover {
    background-color: #ffffff;
    color: black;
}

.navlogoscrolled {
    transition: 0.4s;
    display: none;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}


/* Nav buttons */


nav li {
    text-align: center;
}








/* Main */


/* https://cdn.shopify.com/s/files/1/1183/1328/files/1_6408dca8-ff89-4cf4-ae78-af41265de1a5.jpg?v=1663224744 */
/* First banner & button */
#banner {
    background-image: url("https://wallpaperaccess.com/full/625497.jpg");
    background-size: cover;
    background-position: center;
    height: 1000px;
}


/* Games section */


#games {
    background-image: url("../../public/images/fond.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 25px;
}

#TOP {
    /* Title of game section */
    padding-top: 20px;
    text-align: center;
    font-family: var(--font-family);
}

:root {
    --purple: hsl(240, 80%, 89%);
    --pink: hsl(0, 59%, 94%);
    --light-bg: hsl(204, 37%, 92%);
    --light-gray-bg: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 7%);
    --text-gray: hsl(0, 0%, 30%);
}



h3 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-size: 1em;
    line-height: 1.7;
    font-weight: 300;
    color: var(--text-gray);
}

.description {
    white-space: wrap;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 24px;
    background: #fff;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    scale: 0.8;
}

.box:hover {
    scale: 1;
    z-index: 4;
}

.box a {
    text-decoration: none;
}

.box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
}

.box-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 50% 20%;
}

.title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-title {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
}

.user-follow-info {
    color: hsl(0, 0%, 60%);
}

.button {
    text-decoration: none;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    color: #000;
    background: transparent;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: background 0.4s ease;

}

.button:hover {
    background: var(--purple);
}

.fill-one {
    background: var(--light-bg);
}

.fill-two {
    background: var(--pink);
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 460px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 640px) {
    .box {
        flex-basis: calc(50% - 12px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 840px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1024px) {
    .box {
        flex-basis: calc(33.3% - 16px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1100px) {
    .box {
        flex-basis: calc(25% - 18px);
    }
}


/* Game secction media queries */
@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }

    .cards_image {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }

    .cards_image {
        width: 33.3333%;
    }
}

/* About section */

#aboutUs {
    background-color: #343A40;
    padding-bottom: 150px;
    padding-top: 15px;
}

#about {
    padding-top: 100px;
    line-height: 10px;
}

.aboutButton {
    text-decoration: none;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    color: white;
    background: rgb(66, 186, 150);
    box-shadow: 0px 0px 0px 1px transparent inset;
    transition: background 0.4s ease;
}

.aboutButton:hover {
    background: hsl(240, 79%, 89%);
    color: black;
}

/* Recent comment section */

#container-break {
    background-image: url("https://wallpaper.dog/large/20492411.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
}


#recent-comments {
    background-image: url("../../public/images/fond.jpg");
    padding-bottom: 150px;
    padding-top: 25px;
}



/*===================================== LOGIN =====================================*/
/* LOGIN FORM CONTAINER */
.containerform {
    background-color: rgb(255, 255, 255);
    width: 350px;
    margin: 0 auto;
    margin-top: 6%;
    border: 2px solid #cccccc6c;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #cccccc6c;
    padding: 20px;
    transition: 0.7s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 2%;
    text-align: center;
}

.containerform:hover {
    border-color: #17a3b86c;
}

/* LOGIN TITLE AND LOGO */
.imgContainer {
    width: 100%;
    height: 200px;
    background-image: url("../images/gamescenter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-form h2 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.login-upper-text {
    color: black;
    text-align: center;
    padding-top: 30px;
}


#formdiv {
    margin-bottom: 20px;
    margin-top: 15px;
}

/* LOGIN INPUTS AND LABELS STYLE */
#inputUid:focus {
    border-color: #17a2b8;
    box-shadow: none;
}

#inputUid {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#inputUid::-webkit-input-placeholder {
    color: #a5a5a5;
}

#inputPwd:focus {
    border-color: #17a2b8;
    box-shadow: none;
}

#inputPwd {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#inputPwd::-webkit-input-placeholder {
    color: #a5a5a5;
}

#forgotPwd {
    font-size: 0.8rem;
    color: black;
    font-weight: lighter;

}

/* LOGIN BUTTON */
#loginSubmit {
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-radius: 20px;
    width: 100%;
    transition: 0.6s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#loginSubmit:hover {
    background-color: var(--button-hover-color);
}

#loginSubmit:disabled {

    cursor: not-allowed;

}

#loginSubmit:disabled:hover {

    background-color: var(--button-color);

}

/* BACK BUTTON */
#login-back {
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
}

#login-back a {
    text-decoration: none;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--button-color);
}

#login-back a:hover {
    color: var(--button-hover-color);
}

#sub-back {
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
}

#sub-back a {
    word-wrap: break-word;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--button-color);
}

#sub-back a:hover {
    color: var(--button-hover-color);
}

.inscription-back a {
    display: block;
}

/* ============================ SIGNUP ========================== */


.signup-form {
    margin-top: 30px;
    text-align: center;
}

#formdiv-signup {
    margin-bottom: 20px;

}

.SignupLabel {
    margin-top: 10px;
}

/* User ID */
#SignupInputUid:focus {
    border-color: #17a2b8;
    box-shadow: none;
}


#SignupInputUid {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#SignupInputUid::-webkit-input-placeholder {
    color: #a5a5a5;
}

.blockresponse {
    background-color: #ffe6e6;
    /* couleur de fond */
    border: 1px solid #ff6666;
    /* bordure rouge */
    color: #ff6666;
    /* couleur du texte */
    padding: 5px;
    /* espace intérieur de la boîte */
    margin-top: 5px;
    /* marge supérieure pour espacer la boîte de l'input */
    font-size: 0.8rem;
    /* taille de la police */
}




/* Email */

#SignupInputEmail:focus {
    border-color: #17a2b8;
    box-shadow: none;
}


#SignupInputEmail {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#SignupInputEmail::-webkit-input-placeholder {
    color: #a5a5a5;
}


/* Password */

#SignupInputPwds {
    border-color: #17a2b8;
    box-shadow: none;
}



#SignupInputPwd {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#SignupInputPwd:focus {
    border-color: #17a2b8;
    box-shadow: none;
}

#SignupInputPwd::-webkit-input-placeholder {
    color: #a5a5a5;
}

/* Submit button */

#SignupSubmit {
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-radius: 20px;
    width: 100%;
    transition: 0.6s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#SignupSubmit:hover {
    background-color: var(--button-hover-color);
}

#SignupSubmit:disabled {

    cursor: not-allowed;

}

#SignupSubmit:disabled:hover {

    background-color: var(--button-color);

}

#RGPDLABEL {
    font-size: 1rem;
    padding-bottom: 15px;
    padding-top: 15px;
}

/* BACK BUTTON */
#Signup-back {
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
}

#Signup-back a {
    text-decoration: none;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--button-color);
}

#Signup-back a:hover {
    color: var(--button-hover-color);
}

#con-back {
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
}

#con-back a {
    word-wrap: break-word;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--button-color);
}

#con-back a:hover {
    color: var(--button-hover-color);
}

.inscription-back a {
    display: block;
}

/* ============================ MON COMPTE =============================== */

.profile-body {
    background-image: url("https://images5.alphacoders.com/570/570416.jpg");
}


.profile-parent {
    padding-top: 150px;
    animation: profile-parent-insert 1s ease 0s 1 normal forwards;

}

@keyframes profile-parent-insert {
    0% {
        opacity: 0;
        transform: rotateX(70deg);
        transform-origin: top;
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
    }
}



.profile-container {
    padding: 20px;
    height: 750px;
    width: 85%;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);


}


#profile-card {
    background-color: transparent;
    width: 100%;
}



/* ==================================== PAGE JEU ================================= */


.gamepage-container {
    background-image: url("https://images4.alphacoders.com/109/109174.jpg");
}



#game-more-info {
    margin-top: 200px;
    margin-bottom: 200px;
    animation: Game-info-anim 1s ease 0s 1 normal forwards;
    -webkit-animation: Game-info-anim 1s ease 0s 1 normal forwards;
}

@keyframes Game-info-anim {
    0% {
        opacity: 0;
        transform: rotateX(70deg);
        transform-origin: top;
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
    }
}

.commentButton {
    text-decoration: none;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    color: white;
    background: rgb(66, 186, 150);
    box-shadow: 0px 0px 0px 1px transparent inset;
    transition: background 0.4s ease;
}

.commentButton:hover {
    background: hsl(240, 79%, 89%);
    color: black;
}


.glassmorphism {
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    padding: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#game-img-info {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.comment-textarea {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    backdrop-filter: blur(1px);
    border: none;
    resize: none;
    height: 150px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.comment-textarea:focus {
    border-color: hsl(240, 79%, 89%);
}

.saveButton {
    margin-top: 15px;
    text-decoration: none;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    width: 45%;
    padding: 16px;
    color: black;
    background: hsl(240, 79%, 89%);
    box-shadow: 0px 0px 0px 1px transparent inset;
    transition: background 0.4s ease;
    scale: 0.97;
    margin: auto;
}


.saveButton:hover {
    background: rgb(66, 186, 150);
    color: white
}

.deleteButton {
    margin-top: 15px;
    text-decoration: none;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    width: 45%;
    padding: 16px;
    color: black;
    background: transparent;
    box-shadow: 0px 0px 0px 1px transparent inset;
    transition: background 0.4s ease;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
    scale: 0.97;
    margin: auto;
}

.deleteButton:hover {
    background: rgba(228, 15, 15, 0.753);
    color: white
}


.buttonToggle {
    animation: game-info-commen-toggle 0.6s ease 0s 1 normal forwards;
    -webkit-animation: game-info-commen-toggle 0.6s ease 0s 1 normal forwards;
}

@keyframes game-info-commen-toggle {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}


.text-areaToggle {
    animation: game-info-text-toggle 0.6s ease 0s 1 normal forwards;
    -webkit-animation: game-info-text-toggle 0.6s ease 0s 1 normal forwards;
}

@keyframes game-info-text-toggle {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}







/* ========================== Liste jeux ================= */

.gamelistconstr {
    padding-top: 200px;
    padding-bottom: 200px;
}