:root {
    --button-color: #17a2b8;
    --button-hover-color: #117a8b;
}



body {
    background-color: white;
    box-sizing: border-box;
}




/*===================================== ACCUEIL =====================================*/
#connectButton {
    background-color: var(--button-color);
    color: white;
    border-color: var(--button-color);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 8px;
}

#connectButton:hover {
    background-color: var(--button-hover-color);
    color: white;
    border-color: var(--button-hover-color);
}




/*===================================== LOGIN =====================================*/
/* LOGIN FORM CONTAINER */
.containerform {
    background-color: rgb(255, 255, 255);
    width: 350px;
    margin: 0 auto;
    margin-top: 6%;
    border: 2px solid #cccccc6c;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #cccccc6c;
    padding: 20px;
    transition: 0.7s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 2%;

}

.containerform:hover {
    border-color: #17a3b86c;
}

/* LOGIN TITLE AND LOGO */
.imgContainer {
    width: 100%;
    height: 200px;
    background-image: url("../images/gamescenter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-form h2 {
    text-align: center;
    font-size: 1.3rem;
}

.login-upper-text {
    color: black;
    text-align: center;
    padding-top: 30px;
}


#formdiv {
    margin-bottom: 20px;
}

/* LOGIN INPUTS AND LABELS STYLE */
#inputUid:focus {
    border-color: #17a2b8;
    box-shadow: none;
}

.loginLabel {
    margin-left: 15px;
}

#inputUid {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#inputUid::-webkit-input-placeholder {
    color: #a5a5a5;
}

#inputPwd:focus {
    border-color: #17a2b8;
    box-shadow: none;
}

#inputPwd {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#inputPwd::-webkit-input-placeholder {
    color: #a5a5a5;
}

/* LOGIN BUTTON */
#loginSubmit {
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-radius: 20px;
    width: 100%;
    transition: 0.6s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#loginSubmit:hover {
    background-color: var(--button-hover-color);
}

#loginSubmit:disabled {

    cursor: not-allowed;

}

#loginSubmit:disabled:hover {

    background-color: var(--button-color);

}

/* BACK BUTTON */
#login-back {
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
}

#login-back a {
    text-decoration: none;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--button-color);
}

#login-back a:hover {
    color: var(--button-hover-color);
}

#sub-back {
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
}

#sub-back a {
    word-wrap: break-word;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--button-color);
}

#sub-back a:hover {
    color: var(--button-hover-color);
}

.inscription-back a {
    display: block;
}

/* ============================ SIGNUP ========================== */


.signup-form {
    margin-top: 50px;
}

#formdiv-signup {
    margin-bottom: 20px;

}

/* User ID */
#SignupInputUid:focus {
    border-color: #17a2b8;
    box-shadow: none;
}

.SignupLabel {
    margin-left: 12px;
}

#SignupInputUid {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#SignupInputUid::-webkit-input-placeholder {
    color: #a5a5a5;
}

/* Email */

#SignupInputEmail:focus {
    border-color: #17a2b8;
    box-shadow: none;
}


#SignupInputEmail {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#SignupInputEmail::-webkit-input-placeholder {
    color: #a5a5a5;
}


/* Password */

#SignupInputPwds {
    border-color: #17a2b8;
    box-shadow: none;
}

#SignupInputPwd {
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#SignupInputPwd::-webkit-input-placeholder {
    color: #a5a5a5;
}

/* Submit button */

#SignupSubmit {
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-radius: 20px;
    width: 100%;
    transition: 0.6s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#SignupSubmit:hover {
    background-color: var(--button-hover-color);
}

#SignupSubmit:disabled {

    cursor: not-allowed;

}

#SignupSubmit:disabled:hover {

    background-color: var(--button-color);

}

#RGPDLABEL {
    font-size: 1rem;
    padding-bottom: 15px;
    padding-top: 15px;
}

/* BACK BUTTON */
#Signup-back {
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
}

#Signup-back a {
    text-decoration: none;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--button-color);
}

#Signup-back a:hover {
    color: var(--button-hover-color);
}

#con-back {
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
}

#con-back a {
    word-wrap: break-word;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--button-color);
}

#con-back a:hover {
    color: var(--button-hover-color);
}

.inscription-back a {
    display: block;
}